.conteiner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100vw; /* 100% del ancho de la ventana */
  height: 100vh; /* 100% del alto de la ventana */
  margin: 0; /* elimina márgenes */
  padding: 0; /* elimina padding */
  box-sizing: border-box; /* para que el padding y borde no aumenten tamaño */
}
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
